body, html {
    padding: 0;
    margin: 0;
}

body 
{
	font-family:"arial";
	font-size:14px;
	color:#333333;
	background: url(bg.gif);
	
}

a {cursor: pointer}

p {
	padding: 8px 8px 8px 25px;
}

input[type=text], select
{
	color:black;
	font-size:13px;
	padding:3px;
	width: auto;
	display: block;
    border: 1px solid #D7D7D7;
    outline: none;
}
@-webkit-keyframes resize {
	0% {
        -webkit-box-shadow: inset 0px 0px 0px #ff0000;
	}
	50% {
        -webkit-box-shadow: inset 0px 0px 15px #ff0000;
	}
	100% {
        -webkit-box-shadow: inset 0px 0px 0px #ff0000;
	}
}


input.error {
    -webkit-animation-name: resize;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
    border-color: rgba(255,0,0,0.2);
}

input[type=button] {
    margin-left: 530px;
}




input.small {
    width: 30%;
}
li.opt {
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transform: scale(1.0) translate(0px, 0px);
}
li.focus {
    -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.8), 0px 0 10px rgba(0, 0, 0, 0.1) inset;
    -webkit-transform: scale(1.2) translate(25px, 0px);
    background: white;
}





#GeneralOptions
{
	border:1px solid #333333;
	background-color:#F8FAFF;
	padding:5px 0px 0px 5px
}

.state {
    position: relative;
    margin-bottom: 10px;
    width: 605px;
    height: 20px;
    display:none;
}
#page_state {
    padding: 0;
    margin: 0;
    background: white;
    display: block;
    height: 100%;
    color: gray;
    font-style: italic;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    width: 97%;
    text-align: right;
    position: absolute;
    border-radius: 5px;
    
    border: 1px solid #eee;
}

#page_state.show {
    /* -webkit-transform: scale(1) rotate(0deg) translate(530px, 0px) skew(0deg, 0deg); */
    -webkit-animation-name: resize;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	display:block;
	opacity: 0;
	
}


h1.page_title{
    padding-left: 75px;
    line-height: 30px;
    margin-top: 15px;
    height: 30px;
    background: url(h1title_bg.png) no-repeat left top #2c4056;
    color: white;
    font-size: 16px;
}

h2.section_title{
    padding-left: 25px;
    line-height: 20px;
    margin-top: 10px;
    height: 20px;
    background: #507aaa;
    color: white;
    font-size: 12px;
}

.inner_wrapper {
    margin-left: 50px;
}

ul {
    list-style: none outside none;
    width: 700px;
    padding-left: 25px;
    padding-top: 0;
    margin-top: 0;
}

label {
    font-size: 12px;
    float: left;
    display:block;
    width: 200px;
    padding:3px;
    text-align: right;
    margin-right: 10px;
}

label span.req {
    color: red;
}

li {
    padding: 10px 0;
}

li.enabled {
    display:block;
}

.buttons input{
    background-color: #F2F2F2;
    color: #222;
    border: 1px outset #CCC;
    }
    .buttons input:hover {
        background-color: #CCB;
        }


small {
    margin-left: 215px;
    font-size: 10px;
}

