html {overflow-y:auto; overflow-x: hidden;}
body { font-family: Arial, sans-serif; font-size: 11px; color:#484848; margin: 0; padding: 0; 
            min-width:450px;
}

h1, h2, h3, h4 { font-family: "Trebuchet MS", Verdana, sans-serif;}
h1 {margin:0; padding:0; font-size: 24px;}

/***** Links *****/
a, a:link, a:visited { color: #444; text-decoration: none; }
a:hover, a:active { color: #c61a1a; text-decoration: underline;}

a.issue.closed, a.issue.closed:link, a.issue.closed:visited { color: #999; text-decoration: line-through; }

/***** Tables *****/
table { border-collapse: collapse; width: 100%; margin-bottom: 4px; border-right: 1px solid #DDDBDB; border-left: 1px solid #DDDBDB; }
table th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
table td { vertical-align: middle; }


tr.issue { text-align: left; white-space: nowrap; }

table td {padding:2px;}

table td.priority {
    width: 3px;
    height: 100%;
    padding: 0 !important;
    border-right: 1px solid #DDDBDB;
    background: white;
    border-left: 1px solid white;
    }
    td.priority input {
        position: relative;
        top: 1px;
        }

tr.priority-3 td.priority {
    background: #c00000;
    }
tr.priority-2 td.priority {
    background: #767676;
    }
tr.priority-1 td.priority {
    background: #46af2d;
    }


#tasks tr {
    background-image: -webkit-gradient(linear, 0 top, 0 bottom, color-stop(0.31, rgb(250,250,250)), color-stop(0.6, rgb(248,248,248)));
    border-top: 1px solid #B3B3B3;
    border-bottom: 1px solid #B3B3B3;
}

#tabs {
    position: relative;
    background-image: -webkit-gradient(
        linear,
        0 top,
        0 bottom,
        color-stop(0.66, rgb(255,255,255)),
        color-stop(0.9, rgb(235,235,235))
    );
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #DDDBDB;
    border-right: 1px solid #DDDBDB;
    border-left: 1px solid #DDDBDB;
    margin-left: 1px;
}

#tabs label {
    height: 26px;
    padding: 0 10px;
    font-weight: normal;
    float: left;
    display: block;
    line-height: 26px;
    cursor:pointer;
    }
    #tabs label:hover span {
        border-bottom: 1px dashed gray;
    }

#tabs label.active {
    background-image: -webkit-gradient(
        linear,
        0 top,
        0 bottom,
        color-stop(0.06, rgb(235,235,235)),
        color-stop(0.29, rgb(255,255,255))
    );
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    font-weight: bold;
}

#tabs .toleft, #tabs .toright {
    line-height: 26px;
    font-size: 16px;
    font-weight: normal;
    width: 26px;
    text-align: center;
    position: absolute;
    top: 0;
    cursor: pointer;
}
#tabs .toleft:hover, #tabs .toright:hover {
    font-weight: bold;
}

#tabs .toleft {
    left:0;
}
#tabs .toright {
    right: 0;
}
#forTabsContent {
    height: 26px;
    width: auto;
    margin: 0 26px;
}

.closed_tasks .closebutton input {
    display: none;
}
.closed_tasks .closebutton {
    padding: 0 6px;
}
.closed_tasks .closebutton:after {
    content: "✓";
}
